<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clinicappointmentapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/ClinicAppointmentApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClinicAppointmentApp">
        <activity android:name=".Fragment_Date"></activity>
        <activity android:name=".Fragment_Doctor" />
        <activity android:name=".Fragment_Specialization" />
        <activity android:name=".notifications" />
        <activity android:name=".FeedbackActivity" />
        <activity android:name=".doctors" />
        <activity android:name=".patient_ShowAppointmentActivity" />
        <activity android:name=".admin" />
        <activity android:name=".about" />
        <activity android:name=".MainActivity" />
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>